@font-face {
    font-family: bold;
    src: url(Satoshi-Italic.otf);
}

.bgColor{
    -fx-background-color: white;
}

.button{
    -fx-background-color: #FF6629;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.fontWelcome{
    -fx-font-family: bold;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}
.fontDetail{
    -fx-font-size: 16px;
    -fx-letter-spacing: 10px;
    -fx-text-alignment: center;
}
.labelColor{
    -fx-text-fill: #A6A6A6;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}
.input{
    -fx-border-radius: 6px;
    -fx-background-color: transparent;
}