.bgColor{
    -fx-background-color: white;
}
.nameText{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}
.dateText{
    -fx-fill: #BFBFBF;
    /* -fx-font-weight: bold; */
    -fx-font-size: 16px;
}
.btn{
    -fx-background-radius: 50%;
    -fx-background-color: #E6E6E6;
}
.taskBtn{
    -fx-background-radius: 12px;
    -fx-background-color: #FF6629;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.pTask{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.filterBtn{
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-background-color: #E6E6E6;
    -fx-border-color: none;
}
.filterBtn:focused{
    -fx-background-color: #FF6629;
    -fx-text-fill: white;
}
.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #BFBFBF;
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-padding: 8px;
} 
.taskLabel {
    -fx-background-color: #FF6629;
    -fx-min-width: 71px;
    -fx-min-height: 27px;
    -fx-max-width: 71px;
    -fx-max-height: 27px;
    -fx-background-radius: 38px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #F7D9D9;
    -fx-alignment: center;
}
.descText{
    -fx-fill: #BFBFBF;
    -fx-font-size: 16px;
}
.timeText{
    -fx-fill: #FF6629;
    -fx-font-size: 16px;
}
.cbBox{
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 24;
}
.taskDoneText{
    -fx-fill: #BFBFBF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-strikethrough: true;
}
.timeDoneText{
    -fx-fill: #BFBFBF;
    -fx-font-size: 16px;
}
.progress-bar > .track {
    -fx-control-inner-background: #E6E6E6;
    -fx-background-radius: 100px;
    -fx-text-box-border: #E6E6E6;
  }
.progress-bar > .bar {
    -fx-background-color: #0D0E12;
    -fx-background-radius: 100px;
}
.createdBy {
    -fx-fill: #BFBFBF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.saveBtn {
    -fx-background-radius: 50%;
    -fx-background-color: #2DD081;
}
.deleteBtn {
    -fx-background-radius: 50%;
    -fx-background-color: #E94040;
}
.startBtn{
    -fx-background-color: #FF6629;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    /* -fx-font-weight: ; */
}